@charset "utf-8";
/* CSS Document */
@media screen and (min-width:1200px)
{
  body{margin:0 0 0 0}
 .headerpc{width:100%; height:260px; border:1px solid #cccccc}
 .headeripad{display:none}
 .headerwap{display:none}
 .headerpc #pcLogo{ margin-top:20px}
 .headerpc #pcLogotext{ text-align:center; margin-top:20px; font-size:25px; font-weight:bolder}
 
 
 .mainpc{width:100%;}
 .mainpc #mainpcImg{ width:100%;}
 .mainpc #SearchBox{ width:400px; height:250px;  border:1px solid #cccccc;  margin-top:5% ;  z-index:99999; background-color:#eeeeee;filter:alpha(opacity=90); -moz-opacity:0.9; opacity:0.9; text-align:center}
 .mainpc #SearchBox .logobj{ width:100%; border:1px solid #eeeeee}
 .mainpc #SearchBox #logoimg{  border:none; float:left}
 .mainpc #SearchBox #pclw{ padding-top:20px}
 .mainpc #btnp{ cursor:pointer}
 .mainpc .pcinput{ border:none; background-image:url(/Image/sysimg/input.gif); color:#999999}
 .mainpc .tip{ border:none;  color:red}
 
 .opc{}
 .opcbar{ width:100%; height:35px; background-color:#ddf2ca}
 .opcbar .opctitle{ padding-top:10px; font-size:16px ; font-weight:bolder; color:#13347e; padding-left:30px}
 .opcprocess{ width:100%; height:70px;  padding-top:20px; padding-left:100px}
 .opcplistf{ width:84px; height:60px;background-image:url(/Image/unprocess.gif); float:left}
 .opcplist{ width:84px; height:60px;background-image:url(/Image/unprocess.gif); float:left}
 .opcplisttext{ display:block; padding-top:10px; text-align:center; font-size:14px; color:#555555}
 .opodetail table{border-collapse:collapse ; border:1px solid #cccccc; width:100%}
 .opodetail td{border:1px solid #cccccc; height:30px; font-size:14px}
 .opodetail .ttitle{ width:200px; font-weight:bolder;}
 
 .oipad{display:none}
 .owap{display:none}
 .mainipad{display:none} 
 .mainwap{display:none}
 .footer{ margin-top:50px; text-align:center}
} 
 