.Sprice{margin-top: 33px }
.Sprice table{ border-collapse:collapse ; border:1px solid #999999}
.Sprice td{  border:1px solid #999999; height:25px}

.Sprice .theady{  height:70px; background-repeat:no-repeat;background:#f7f5f5} 
.Sprice #code{margin-left:900px; margin-top:-50px;font-size:24px ; font-weight:bolder}

.editprice { border-collapse:collapse ; border:1px solid #1b47ab; width:100%}
.editprice td{  border:1px solid #1b47ab; height:28px}
.editprice input{ border:none}